## **Exemplo 1)**

A partir dos dados de jogadores da NBA (https://www.kaggle.com/drgilermo/nba-players-stats), pede-se:

- Qual a média de altura e de peso dos jogadores?
- Crie uma nova coluna com a razão peso/altura.
- Qual a maior altura, o maior peso, a menor altura e menor peso?
- Qual é o estado onde nasce o maior número de jogadores?
- Qual o jogador mais alto?

In [20]:
import pandas as pd

In [21]:
players_df = pd.read_csv('assets/Players.csv')
display(players_df)

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...,...
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

### Média de altura e peso de cada jogador

In [39]:
print('Media da altura:')
players_df['height'].mean()

Media da altura:

198.70492221372098

In [38]:
print('Media do peso:')
players_df['weight'].mean()

Media do peso:

94.78321856669217

### nova coluna com a razão peso/altura.

In [41]:
players_df['Razão'] = players_df['weight']/players_df['height']
players_df

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state,Razão
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN,0.427778
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,0.441489
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN,0.445596
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN,0.448980
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky,0.443820
...,...,...,...,...,...,...,...,...,...
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina,0.489899
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon,0.519231
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee,0.507042
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany,0.477833
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina,0.555556

### maior altura, o maior peso, a menor altura e menor peso?

In [44]:
print('Maior altura')
display(players_df['height'].max())
print('Menor altura')
players_df['height'].min()

Maior altura

231.0

Menor altura

160.0

In [45]:
print('Maior peso')
display(players_df['weight'].max())
print('Menor peso')
players_df['weight'].min()

Maior peso

163.0

Menor peso

60.0

### Estado onde nasce o maior número de jogadores?

In [47]:
players_df['birth_state'].value_counts()

California                          344
New York                            290
Illinois                            209
Pennsylvania                        163
Ohio                                137
                                   ...
Saint Vincent and the Grenadines      1
Finland                               1
Dominica                              1
Norway                                1
Austria                               1
Name: birth_state, Length: 128, dtype: int64

### jogador mais alto?

In [57]:
players_df.sort_values('height').tail(10)

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state,Razão
3018,3018,Peter John,226.0,117.0,NaN,1985.0,NaN,NaN,0.517699
2969,2969,Slavko Vranes,226.0,124.0,NaN,1983.0,Belgrade,Serbia,0.548673
3686,3686,Sim Bhullar,226.0,163.0,New Mexico State University,1992.0,Ontario,Canada,0.721239
1563,1563,Chuck Nevitt,226.0,98.0,North Carolina State University,1959.0,Cortez,Colorado,0.433628
2878,2878,Yao Ming*,229.0,140.0,NaN,1980.0,Shanghai,China,0.611354
2249,2249,P.J. Brown,229.0,106.0,NaN,1972.0,NaN,NaN,0.462882
2248,2248,Shawn Bradley,229.0,106.0,Brigham Young University,1972.0,Landstuhl,Germany,0.462882
1711,1711,Manute Bol,231.0,90.0,University of Bridgeport,1962.0,Gogrial,South Sudan,0.389610
2297,2297,Gheorghe Muresan,231.0,137.0,NaN,1971.0,Triteni,Romania,0.593074
223,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN